.container-form {
  margin: 0 auto;
  max-width: 20rem;
  pad: 1.25em;
  border-radius: 12px;
  background: #fff;
}

.section-form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.title-form {
  margin: 0 0 0.5rem;
  font-size: 1.2rem;
  line-height: 1.2;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.input-group label {
  font-size: 0.8rem;
}

.input-form {
  padding: 0.5rem 0.7rem;
  border-radius: 20px;
  outline: none;
  border: 1px solid #5abd54;
}

.input-form:focus {
  border-color: #83a8e2;
}

.button-form {
  padding: 0.6rem 0.9rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;

  background: linear-gradient(180deg, #15af1d 0%, #2dd151 100%);
  color: #fff;
  font-weight: 600;
  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.12),
    0 2px 0 rgba(255, 255, 255, 0.25) inset;
}

.button-form:hover {
  box-shadow:
    0 14px 26px rgba(0, 0, 0, 0.14),
    0 2px 0 rgba(255, 255, 255, 0.28) inset;
}

.button-form:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.error-input {
  font-size: 0.85rem;
  color: #d12dc6;
}
