:root {
  --test-run-text-primary: #1a2333;
  --test-run-bg-page: #f4f7fc;
}

[data-theme='dark'] {
  --test-run-text-primary: #e7edf9;
  --test-run-bg-page: #131a26;
}

.test-run-page {
  min-height: 100vh;
  background-color: var(--test-run-bg-page);
  color: var(--test-run-bg-page);
  display: flex;
  flex-direction: column;
  align-items: center;
}
