* {
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  min-height: 100vh;
  background: var(--bg-color);
}

:root {
  --bg-color: #ffecb3;
}

:root[data-theme='dark'] {
  --bg-color: #131a26;
}
